@import './_variables';

.card {
	background: $white;
	border: 1px solid $gray1;
	box-sizing: border-box;
	box-shadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}