@import './_variables';

.input-group {
	position: relative;
	padding: 20px 0;

	label {
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: $gray2;

		position: absolute;
		left: 15px;
		top: 2px;
		background: $white;
		padding: 4px;
	}

	input {
		background: $white;
		border: 1px solid $gray1;
		box-sizing: border-box;
		border-radius: 8px;
		min-width: 500px;
		height: 64px;
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 25px;
		color: $gray3;
		padding: 19px 27px;
		outline: none;
	}
}