@import './_variables';

h1 {
	font-family: $font-family;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 69px;
	color: $black;
	margin: 25px 0px;
}

h2 {
	font-family: $font-family;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 46px;
	color: $black;
	margin: 25px 0px;
}

h3 {
	font-family: $font-family;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
	color: $black;
	margin: 25px 0px;
}